# Imports

In [2]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

# Data

In [3]:
diabetes = datasets.load_diabetes()
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

:Number of Instances: 442

:Number of Attributes: First 10 columns are numeric predictive values

:Target: Column 11 is a quantitative measure of disease progression one year after baseline

:Attribute Information:
    - age     age in years
    - sex
    - bmi     body mass index
    - bp      average blood pressure
    - s1      tc, total serum cholesterol
    - s2      ldl, low-density lipoproteins
    - s3      hdl, high-density lipoproteins
    - s4      tch, total cholesterol / HDL
    - s5      ltg, possibly log of serum triglycerides level
    - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [4]:
# Check out the data
diabetes_data = np.c_[diabetes.data, diabetes.target]
diabetes_columns = diabetes.feature_names + ['target']

diabetes_df = pd.DataFrame(data=diabetes_data, columns=diabetes_columns)

diabetes_df.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041176,-0.096346,97.0
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062917,-0.038357,138.0
7,0.063504,0.050680,-0.001895,0.066629,0.090620,0.108914,0.022869,0.017703,-0.035816,0.003064,63.0
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014960,0.011349,110.0
9,-0.070900,-0.044642,0.039062,-0.033213,-0.012577,-0.034508,-0.024993,-0.002592,0.067737,-0.013504,310.0

In [5]:
X_train, X_test, y_train, y_test = train_test_split(diabetes.data, diabetes.target, test_size=0.2, random_state=0)

# Multi Linear Regression Model

In [6]:
def cost_function(X, y, alpha=0.01, iters=1000):
  """
  Gradient descent for multiple linear regression.

  Input:
    X:     np array of shape (n_samples, n_features) - training data
    y:     np array of shape (n_samples,) - target values
    alpha: Learning rate
    iters: Number of iterations

  Output:
    thetas: np array of shape (n_features + 1,) - learned parameters
    mse_history: List of cost values (MSE) at each iteration
  """
  # Get the number of sampes
  n = X.shape[0]

  # Get the number of features including
  i = X.shape[1]

  # Add bias term to the features
  X_bias = np.c_[np.ones((n, 1)), X]
  
  # Initiate theta with zeros
  thetas = np.zeros(i + 1)
  
  # Track the cost history for plotting
  mse_history = []

  for _ in range(iters):
    # ŷ = θ₀ + θ₁x₁ + θ₂x₂ + ... + θₙxₙ
    preds = np.dot(X_bias, thetas)
    
    # ŷ - y
    error = preds - y

    # (11, 353) -> (353, 11)
    X_bias_transposed = X_bias.T

    # (1/n) × Σ(ŷ⁽ⁱ⁾ - y⁽ⁱ⁾)xⱼ⁽ⁱ⁾
    gradients = (1 / n) * np.dot(X_bias_transposed, error)

    # θⱼ = θⱼ - α × (1/n) × Σ(ŷ⁽ⁱ⁾ - y⁽ⁱ⁾)xⱼ⁽ⁱ⁾
    thetas = thetas - alpha * gradients
    
    # (1/2n) × Σ(ŷ - y)²
    mse = (1 / (2 * n)) * np.sum(error ** 2)
    mse_history.append(mse)

  return thetas, mse_history

# Feature scaling

In [7]:
# Scale the features
scaler = StandardScaler()

# Calculate the mean and standard deviation of the training data and scale it
#   mean = sum(X_train) / len(X_train)
#   std = sqrt(sum((X_train - mean) ** 2) / len(X_train))
#   X_train = (X_train - mean) / std
X_train = scaler.fit_transform(X_train)

# Scale the test data using previously calculated mean and std
#   X_test = (X_test - mean) / std
X_test = scaler.transform(X_test)

# Training

In [ ]:
# Train the model using gradient descent
thetas, cost_history = cost_function(X_train, y_train, alpha=0.001, iters=10000)

# Print the table of all thetas with their feature names
theta_table = pd.DataFrame({'Feature': ['Bias'] + diabetes.feature_names, 'Theta': thetas})
print(theta_table)

   Feature       Theta
0     Bias  151.599384
1      age   -1.504492
2      sex  -11.485990
3      bmi   28.034522
4       bp   14.153544
5       s1   -4.633953
6       s2   -6.184710
7       s3  -10.450330
8       s4    5.275077
9       s5   25.001240
10      s6    2.307993

# Evaluation